body {
    font-family: 'Roboto Mono', monospace;
    background-color: #204048; /*#CFD8DC*/
    color: #fff;
}

#in {
    padding-bottom: 15px;
    min-width: 500px;
    width: 98%;
    margin-bottom: 10px;
    height: 500px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #e08080;
    color: #fff;
}

#in:focus {
    outline: none;
}

#convButton, #backButton {
    min-width: 100px;
    position: absolute;
    top: 89%;
}

#out {
    width: 100%;
    margin-top: 10px;
}

.hide {
    display: none;
}

#allOut.hideBottom {
    position: fixed;
    top: 100%;
}

#allOut {
    top: 2.5%;
    width: 90%;
    left: 5%;
    right: 5%;
}

#allIn, #allOut {
    background-color: #30606c; /*#ECEFF1*/
    position: fixed;
    min-width: 560px;;
    min-height: 600px;
    height: 95%;
    border-radius: 5px;
    box-shadow: 0 3px 100px rgba(0,0,0,0.06), 0 3px 100px rgba(0,0,0,0.13);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

#allIn {
    min-height: 650px;
    width: 50%;
    left: 25%;
    right: 25%;
    top: 2.5%;
}

#allIn.hideTop {
    top: -100%
}

#allIn:hover, #allOut:hover {
    box-shadow: 0 3px 100px rgba(0,0,0,0.32), 0 3px 100px rgba(0,0,0,0.46);
    
}

#content {
    position: relative;
    left: 5%;
    top: 10px;
    width: 90%;
    height: 90%;
}



.group { 
    top: 25px;
    position:relative; 
    margin-bottom:10px; 
  }

label {
    color: rgba(255, 255, 255, 0.7); 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  textarea:focus ~ label, textarea:valid ~ label 		{
    top:-25px;
    font-size:14px;
    color:#fff;
  }


.bar {
    top: -13px;
    position:relative; 
    display:block; 
    width:99.2%; 
    min-width: 508px;
}

.bar:before, .bar:after {
    content:'';
    height:10px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#fff; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}

textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
    width:50%;
}


/*Button*/

.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 40px;
	font-weight: 600;
	border: 2px solid;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	overflow: hidden;
	min-width: 180px;
	color: #fff; /*#37474f*/
	border-color: #fff; /*#37474f*/
}

.button:focus {
	outline: none;
}

.button > span {
	vertical-align: middle;
}


.button::before,
.button::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	background: #e08080; /*#fff*/
	color: #fff; /*#37474f*/
}
.button::before {
	top: 0;
	padding-top: 1em;
}
.button::after {
	bottom: 0;
	line-height: 0;
}
.button > span {
	display: block;
	-webkit-transform: scale3d(0.2, 0.2, 1);
	transform: scale3d(0.2, 0.2, 1);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button:hover::before {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.button:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button:hover > span {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}